


.companyTable {
    width: 100%;
    max-height: calc(100vh - 120px);
}

.companyTableCell {
    text-align: center;
    color: black;
    background-color: white;
}


.companyTableCellHeader {
    padding: 10px;
}

.companyTableCellDataUserName:hover {
    cursor: pointer;
    background-color: #dfeffa;
}

.doenloadtosheet{
    background-color: rgb(6, 77, 54);
    padding: 10px 20px 10px 20px;
}

.doenloadtosheet:hover{
    cursor: pointer;
    background-color: rgb(13, 4, 110);
}

