.admin{
    background-color: rgb(59, 59, 1);
   
}

.admin:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.resetPaswordContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}